/* Pagina 1 berme -----------------------------------------------------------------------------*/

.pagina1 {
    display: flex;
    background-image: url(/Trabajo-html-css/imagenes_historia/Tunel1.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

.container1 {
    display: flex;
    height: 100%;
    width: 100%;

}

.container1__grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    gap: 15%;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
    grid-template-areas:
        "a . b"
        "c c c"
    ;
}

.container1__box1 {
    grid-area: a;
    display: flex;
    background-color: #1c2526;
    opacity: 95%;
    height: 400px;
    width: 400px;
    border-radius: 10%;
    justify-items: center;
    transform-origin: center;
    transition: transform 0.3s ease;
    border: 2px solid white;
    transition: all 0.4s ease-in-out;

}

.container1__box1:hover {
    border-color: #fff;
    box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #fff;
}

.container1__box1:hover {
    transform: scale(1.1);
    z-index: 10;
}

.container1__box1__txt {
    padding: 10%;
    color: #ffffff;
    font-size: 30px;
    font-family: sans-serif;
}

.container1__box2 {
    grid-area: b;
    display: flex;
    opacity: 95%;
    background-color: #1c2526;
    height: 400px;
    width: 400px;
    border-radius: 10%;
    transform-origin: center;
    transition: transform 0.3s ease;
    border: 2px solid white;
    transition: all 0.4s ease-in-out;
}

.container1__box2:hover {
    border-color: #fff;
    box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #fff;
}

.container1__box2:hover {
    transform: scale(1.1);
    z-index: 10;
}

.container1__box2__txt {
    padding: 10%;
    color: #dcdcdc;
    font-size: 30px;
    font-family: sans-serif;
}

.container1__box3 {
    display: flex;
    grid-area: c;
    height: 100px;
    width: 100%;
    justify-content: center;
}

.container1__box3__box1 {
    width: 300px;
    height: 100%;
}

.box3__boton {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid rgb(0, 0, 0);
}

.box3__boton:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2)
}


/* Pagina 2 berme --------------------------------------------------------------------------*/

.pagina2 {
    background-image: url(/Trabajo-html-css/imagenes_historia/Sala2.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 1%;
    padding: 0px;
    flex-direction: column;

}

.pagina2__container {
    display: flex;
}

.pagina2__container1 {
    display: flex;
    height: 100px;
    width: 100px;
}

.pagina2__container1__box1__img1 {
    height: 100%;
    width: 100%;
    transform-origin: center;
    transition: transform 0.3s ease;
    border-radius: 5px;
}

.pagina2__container1__box1__img1:hover {
    transform: scale(1.1);
    z-index: 10;
    border-color: #ff0000;
    box-shadow:
        0 0 10px #ff0000,
        0 0 20px #ff0000,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #ff0000;
}

.pagina2__container2 {
    display: flex;
    width: 100%;
    height: 200px;
    padding-right: 50px;
    justify-content: center;
}

.pagina2__container2__box1 {
    display: flex;
    background-color: #3E3228;
    height: 200px;
    width: 900px;
    opacity: 85%;
    gap: 5%;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out;
    border: 2px solid white;
}

.pagina2__container2__box1:hover {
    border-color: #fff;
    box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #fff;
}

.pagina2__container2__box1__box1 {
    color: white;
    width: 100%;
    height: 200px;
    font-size: 22px;
    font-family: sans-serif;
    padding: 1%;
}

.pagina2__container2__box1__box2 {
    color: white;
    width: 100%;
    height: 200px;
    font-size: 22px;
    font-family: sans-serif;
    padding: 1%;
}

.pagina2__container3 {
    display: grid;
    opacity: 85%;
    margin-top: 300px;
    width: 100%;
    height: 300px;

}

.pagina2__container3__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "p2a2 p2b2 p2c2"
    ;
    padding-left: 4%;
    gap: 12%;
}

.pagina2__container3__box1 {
    display: flex;
    grid-area: p2a2;
    border-radius: 15px;
    background-color: #3E3228;
    height: 300px;
    width: 400px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out;
    border: 2px solid white;

}

.pagina2__container3__box1:hover {
    border-color: #fff;
    box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #fff;
}

.pagina2__container3__box1__txt {
    display: flex;
    padding: 7%;
    padding-top: 20%;
    color: white;
    font-family: sans-serif;
    font-size: 22px;
}

.pagina2__container3__box2 {
    grid-area: p2b2;
    border-radius: 15px;
    background-color: #3E3228;
    height: 300px;
    width: 400px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out;
    border: 2px solid white;
}

.pagina2__container3__box2:hover {
    border-color: #fff;
    box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #fff;
}

.pagina2__container3__box3 {
    display: flex;
    flex-direction: column;
    grid-area: p2c2;
    border-radius: 15px;
    height: 300px;
    width: 250px;
    gap: 6%;
    padding-top: 6%;
}

.pagina2__container3__box3__opcion1 {
    display: flex;
    height: 40%;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.pagina2__container3__box3__opcion2 {
    display: flex;
    height: 40%;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.pagina2__container3__box3__opcion1_opcion {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.pagina2__container3__box3__opcion1_opcion:hover {
    transform: translateY(-10px) scale(1.02);
    /* Sube y crece un poco */
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}


/* Pagina 3 berme -------------------------------------------------------------*/

.pagina3 {
    display: flex;
    background-image: url(/Trabajo-html-css/imagenes_historia/Martin3.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    flex-direction: column;

}

.pagina3_contenedor1 {
    display: flex;
    height: 180px;
    width: 830px;
    gap: 5%;
}

.pagina3_contenedor1_box1 {
    background-color: rgb(39, 39, 39);
    display: flex;
    height: 180px;
    width: 530px;
    margin: 1.2%;
    border-radius: 15px;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out;
    border: 2px solid white;
}

.pagina3_contenedor1_box1:hover {
    border-color: #fff;
    box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #fff;
}

.pagina3_contenedor1_box1_txt {
    display: flex;
    color: white;
    font-family: sans-serif;
    font-size: 22px;
    margin: 6%;
}

.pagina3_contenedor1_box2 {
    display: flex;
    height: 180px;
    width: 300px;
    background-color: rgb(39, 39, 39);
    border-radius: 15px;
    margin: 1.2%;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out;
    border: 2px solid white;
}

.pagina3_contenedor1_box2:hover {
    border-color: #fff;
    box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #fff;
}

.pagina3_contenedor2 {
    display: flex;
    height: 180px;
    width: 1000px;
    margin-top: 450px;
    margin-left: 1%;
    gap: 2%;
}

.pagina3_contenedor2_box1 {
    margin-top: 40px;
    display: flex;
    height: 100px;
    width: 100px;
    margin-left: 1%;
}

.pagina3_contenedor2_box1_logo {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.1);

}

.pagina3_contenedor2_box1_logo:hover {
    transform: scale(1.1);
    z-index: 10;
    border-color: #ff0000;
    box-shadow:
        0 0 10px #ff0000,
        0 0 20px #ff0000,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #ff0000;
}

.pagina3_contenedor2_box2 {
    background-color: rgb(39, 39, 39);
    width: 600px;
    height: 180px;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out;
    border: 2px solid white;
}

.pagina3_contenedor2_box2:hover {
    border-color: #fff;
    box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #fff;
}

.pagina3_contenedor2_box3 {
    background-color: rgb(39, 39, 39);
    height: 180px;
    width: 200px;
    border-radius: 260%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out;
    border: 2px solid white;
}

.pagina3_contenedor2_box3:hover {
    transform: scale(1.1);
    z-index: 10;
    border-color: #ff0000;
    box-shadow:
        0 0 10px #ff0000,
        0 0 20px #ff0000,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #ff0000;
}

.pagina3_contenedor2_box3_logo {
    width: 100%;
    height: 100%;
    border-radius: 400px;
}



/* Pagina 3 berme -------------------------------------------------------------*/

.pagina4 {
    display: flex;
    background-image: url(/Trabajo-html-css/imagenes_historia/pag4.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
}

.pagina4_contenedor1 {
    display: flex;
    height: 180px;
    width: 830px;
    gap: 5%;
}

.pagina4_contenedor1_box1 {
    background-color: rgb(39, 39, 39);
    display: flex;
    height: 180px;
    width: 530px;
    margin: 1.2%;
    border-radius: 15px;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out;
    border: 2px solid white;
}

.pagina4_contenedor1_box1:hover {
    border-color: #fff;
    box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #fff;
}

.pagina4_contenedor1_box1_txt {
    display: flex;
    color: white;
    font-family: sans-serif;
    font-size: 22px;
    margin: 6%;
}

.pagina4_contenedor1_box2 {
    display: flex;
    height: 180px;
    width: 300px;
    background-color: rgb(39, 39, 39);
    border-radius: 15px;
    margin: 1.2%;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out;
    border: 2px solid white;
}

.pagina4_contenedor1_box2:hover {
    border-color: #fff;
    box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #fff;
}

.pagina4_contenedor2 {
    display: flex;
    height: 180px;
    width: 1200px;
    margin-top: 450px;
    margin-left: 1%;
    gap: 2%;
}

.pagina4_contenedor2_box1 {
    margin-top: 40px;
    display: flex;
    height: 100px;
    width: 100px;
    margin-left: 1%;
}

.pagina4_contenedor2_box1_logo {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.1);

}

.pagina4_contenedor2_box1_logo:hover {
    transform: scale(1.1);
    z-index: 10;
    border-color: #ff0000;
    box-shadow:
        0 0 10px #ff0000,
        0 0 20px #ff0000,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #ff0000;
}

.pagina4_contenedor2_box2 {
    background-color: rgb(39, 39, 39);
    width: 600px;
    height: 180px;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out;
    border: 2px solid white;
}

.pagina4_contenedor2_box2:hover {
    border-color: #fff;
    box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #fff;
}

.pagina4_contenedor2_box3 {
    background-color: rgb(39, 39, 39);
    height: 180px;
    width: 200px;
    border-radius: 260%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out;
    border: 2px solid white;
}

.pagina4_contenedor2_box3:hover {
    transform: scale(1.1);
    z-index: 10;
    border-color: #ff0000;
    box-shadow:
        0 0 10px #ff0000,
        0 0 20px #ff0000,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #ff0000;
}

.pagina4_contenedor2_box3_logo {
    width: 100%;
    height: 100%;
    border-radius: 400px;
}

.pagina4_contenedor2_box4 {
    display: flex;
    height: 180px;
    width: 300px;
    background-color: rgb(39, 39, 39);
    border-radius: 15px;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out;
    border: 2px solid white;
}

.pagina4_contenedor2_box4:hover {
    border-color: #fff;
    box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #fff;
}



/* Pagina 1 javier ---------------------------------------------------------------*/


.web1 {
    background-image: url("imagen_base_naval.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}


.caja1 {
    background: #002350;
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.caja1__titulo {
    margin: 0;
}

.caja2 {
    margin-left: 730px;
    margin-top: 140px;
    width: 570px;
    height: 390px;
    background-color: rgb(0, 7, 105);
    color: white;
    padding: 15px;
    border-radius: 10%;
    border: 2px solid #e5e7eb;
}

.caja2__texto {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.caja2__botonera {
    display: flex;
    justify-content: center;
}


.boton1 {
    width: 150px;
    height: 90px;
    margin-left: 30px;
    background: #01367c;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.4);
    transition: 0.3s ease;
}

.boton1:hover {
    background: #003a7a;
}

.boton1:active {
    transform: scale(0.97);
}


/* Pagina 2 javier ---------------------------------------------------------------*/

.web2 {
    background-image: url("puerta-piedra-arco-arquitectura-tres-puertas-blancas-blanco_49071-5300.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.caja-titulo {
    background: #002350;
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.btn-centro {
    display: block;
    margin: 120px auto;
    padding: 15px 35px;
    background-color: #002350;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, background-color 0.3s;
}

.btn-centro:hover {
    background-color: #003c80;
    transform: scale(1.1);
}

.fotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
}

.foto {
    width: 70px;
    height: 70px;
    margin: 10px;
    opacity: 0.2;
    transition: opacity 0.3s, transform 0.3s;
    pointer-events: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.foto:hover {
    opacity: 1;
    transform: scale(1.15);
}

.foto-tl {
    justify-self: start;
    align-self: start;
}

.foto-tr {
    justify-self: end;
    align-self: start;
}

.foto-bl {
    justify-self: start;
    align-self: end;
}

.foto-br {
    justify-self: end;
    align-self: end;
}