.tramob2 {
    margin: 0;
    padding: 0;
}

.tramob2::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/imagenes_historia/fondo__supermercado.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    z-index: -1;
    transform: scale(1.1);
}

/*header*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.header__top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e293b;
    color: rgb(255, 255, 255);
    padding: 20px;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    border-bottom: 4px solid white;
}

.container__titulo {
    color: rgb(255, 255, 255);
    font-family: "Turret Road", sans-serif;

}

.mensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.mensaje__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e293b;
    color: rgb(255, 255, 255);
    padding: 20px;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    border-bottom: 4px solid white;
    padding: 20px;
    width: 80%;
    margin-top: 80px;
}

.container__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Turret Road", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.container__texto--color {
    color: rgb(181, 0, 0);
    font-family: "Turret Road", sans-serif;
    font-size: 30px;
    font-weight: 600;
}


/*footer*/

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 120px;


}


.link__izquierda {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    background: #1e293b;
    color: #f8fafc;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    padding: 5px;
}


.link__derecha {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    background: #1e293b;
    color: #f8fafc;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    padding: 5px;

}

.link__derecha:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 25px rgba(0, 150, 255, 0.6),
        inset 0 0 12px rgba(0, 150, 255, 0.25);
    border-color: rgb(0, 150, 255);
}

.link__izquierda:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 25px rgba(0, 150, 255, 0.6),
        inset 0 0 12px rgba(0, 150, 255, 0.25);
    border-color: rgb(0, 150, 255);
}