body {
    margin: 0;
    background-image: url("/imagenes_historia/imagen\ base\ naval.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}


/*header*/

.header__box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e293b;
    color: #f8fafc;
    padding: 20px;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    border-bottom: 4px solid white;

}

.header__texto {
    color: white;
    font-family: "Turret Road", sans-serif;
    font-size: 18px;

}

/*body*/

.body__box {
    margin-left: 645px;
    margin-top: 80px;
    width: 510px;
    height: 380px;
    background-color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10%;
    border: 2px solid #e5e7eb;

}

.body__container__texto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box__texto {
    color: rgb(181, 0, 0);
    font-family: "Turret Road", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.body__container__botones {
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-top: 70px;

}




.container__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e293b;
    color: #f8fafc;
    padding: 20px;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    border-bottom: 4px solid white;
    text-decoration: none;

}

.container__link:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 25px rgba(0, 150, 255, 0.6),
        inset 0 0 12px rgba(0, 150, 255, 0.25);
    border-color: rgb(0, 150, 255);
}