body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/imagenes_historia/background.jpeg);
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
    transform: scale(1.1);
}



/*body*/


.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 110px;
}

.galeria__container__izq {
    display: flex;
}

.galeria__container__cen {
    display: flex;
}

.galeria__container__der {
    display: flex;
}

.container__imagen {
    width: 300px;
    height: 250px;
    border: 1px solid white;

}

.galeria__2 {
    display: flex;
    justify-content: center;
    align-items: center;



}

.galeria__2__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    grid-template-areas: "a a b b";
    gap: 50px;
    padding: 20px;
}

.container__box {
    grid-area: a;
    border: 1px solid white;

}

.container__box__2 {
    grid-area: b;
    border: 1px solid white;

}


.box__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


/*footer*/

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}


.link__izquierda {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    background: #1e293b;
    color: #f8fafc;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    padding: 5px;
}


.link__derecha {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    background: #1e293b;
    color: #f8fafc;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    padding: 5px;

}

.link__derecha:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 25px rgba(0, 150, 255, 0.6),
        inset 0 0 12px rgba(0, 150, 255, 0.25);
    border-color: rgb(0, 150, 255);
}

.link__izquierda:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 25px rgba(0, 150, 255, 0.6),
        inset 0 0 12px rgba(0, 150, 255, 0.25);
    border-color: rgb(0, 150, 255);
}