body {
    background-image: url(/Trabajo-html-css/imagenes_historia_B/Sala2.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 1%;
    padding: 0px;
    flex-direction: column;

}

.pagina2__container {
    display: flex;
}

.pagina2__container1 {
    display: flex;
    height: 100px;
    width: 100px;
}

.pagina2__container1__box1__img1 {
    height: 100%;
    width: 100%;
    transform-origin: center;
    transition: transform 0.3s ease;
    border-radius: 5px;
}

.pagina2__container1__box1__img1:hover {
    transform: scale(1.1);
    z-index: 10;
    border-color: #ff0000;
    box-shadow:
        0 0 10px #ff0000,
        0 0 20px #ff0000,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #ff0000;
}

.pagina2__container2 {
    display: flex;
    width: 100%;
    height: 200px;
    padding-right: 50px;
    justify-content: center;
}

.pagina2__container2__box1 {
    display: flex;
    background-color: #3E3228;
    height: 200px;
    width: 900px;
    opacity: 85%;
    gap: 5%;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out;
    border: 2px solid white;
}

.pagina2__container2__box1:hover {
    border-color: #fff;
    box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #fff;
}

.pagina2__container2__box1__box1 {
    color: white;
    width: 100%;
    height: 200px;
    font-size: 22px;
    font-family: sans-serif;
    padding: 1%;
}

.pagina2__container2__box1__box2 {
    color: white;
    width: 100%;
    height: 200px;
    font-size: 22px;
    font-family: sans-serif;
    padding: 1%;
}

.pagina2__container3 {
    display: grid;
    opacity: 85%;
    margin-top: 300px;
    width: 100%;
    height: 300px;

}

.pagina2__container3__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "p2a2 p2b2 p2c2"
    ;
    padding-left: 4%;
    gap: 12%;
}

.pagina2__container3__box1 {
    display: flex;
    grid-area: p2a2;
    border-radius: 15px;
    background-color: #3E3228;
    height: 300px;
    width: 400px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out;
    border: 2px solid white;

}

.pagina2__container3__box1:hover {
    border-color: #fff;
    box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #fff;
}

.pagina2__container3__box1__txt {
    display: flex;
    padding: 7%;
    padding-top: 20%;
    color: white;
    font-family: sans-serif;
    font-size: 22px;
}

.pagina2__container3__box2 {
    grid-area: p2b2;
    border-radius: 15px;
    background-color: #3E3228;
    height: 300px;
    width: 400px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out;
    border: 2px solid white;
}

.pagina2__container3__box2:hover {
    border-color: #fff;
    box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    color: #fff;
}

.pagina2__container3__box3 {
    display: flex;
    flex-direction: column;
    grid-area: p2c2;
    border-radius: 15px;
    height: 300px;
    width: 250px;
    gap: 6%;
    padding-top: 6%;
}

.pagina2__container3__box3__opcion1 {
    display: flex;
    height: 40%;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.pagina2__container3__box3__opcion2 {
    display: flex;
    height: 40%;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.pagina2__container3__box3__opcion1_opcion {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.pagina2__container3__box3__opcion1_opcion:hover {
    transform: translateY(-10px) scale(1.02);
    /* Sube y crece un poco */
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}