* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carrusel {
    display: flex;
    width: 100%;
    height: 100vh;
}

.carrusel__item {
    width: 0;
    flex-grow: 1;
    height: 100%;
    transition: .5s ease;
    overflow: hidden;
    opacity: .8;
}

.carrusel__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel__item:hover {
    cursor: pointer;
    width: 30vw;
    opacity: 1;
    filter: contrast(120%);
}
