body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/imagenes_historia/background__planeta.jpeg);
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    z-index: -1;
    transform: scale(1.1);

}



.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria__container {
    display: flex;
    justify-content: center;
    align-items: center;

}


.box__imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    height: 350px;
    object-fit: cover;
    margin-top: 20px;
    border: 2px solid #e5e7eb;

}

.mensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.mensaje__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e293b;
    color: #f8fafc;
    padding: 20px;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    border-bottom: 4px solid white;
    height: 220px;
}

.container__texto {
    color: rgb(215, 130, 3);
    font-family: "Turret Road", sans-serif;
    font-size: 25px;
    font-weight: 500;
}


/*footer*/

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-bottom: 20px;


}


.link__izquierda {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    background: #1e293b;
    color: #f8fafc;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    padding: 5px;
}


.link__derecha {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    background: #1e293b;
    color: #f8fafc;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    padding: 5px;

}

.link__derecha:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 25px rgba(0, 150, 255, 0.6),
        inset 0 0 12px rgba(0, 150, 255, 0.25);
    border-color: rgb(0, 150, 255);
}

.link__izquierda:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 25px rgba(0, 150, 255, 0.6),
        inset 0 0 12px rgba(0, 150, 255, 0.25);
    border-color: rgb(0, 150, 255);
}