body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/imagenes_historia/fondo__supermercado.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    z-index: -1;
    transform: scale(1.1);
}


/*body*/

.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria__viñetas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;

}

.viñetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;

}

.viñetas__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1e293b;
    color: #f8fafc;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    border-bottom: 4px solid white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 20px;
}

.viñetas__container__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1e293b;
    color: #f8fafc;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    border-bottom: 4px solid white;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 20px;
}

.viñetas__container__3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1e293b;
    color: #f8fafc;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    border-bottom: 4px solid white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    padding: 20px;

}

.viñetas__container__4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1e293b;
    color: #f8fafc;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    border-bottom: 4px solid white;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    padding: 20px;
}

.viñetas__container__5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1e293b;
    color: #f8fafc;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    border-bottom: 4px solid white;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 20px;
}

.viñetas__container:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 25px rgba(0, 150, 255, 0.6),
        inset 0 0 12px rgba(0, 150, 255, 0.25);
    border-color: rgb(0, 150, 255);
}

.viñetas__container__2:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 25px rgba(0, 150, 255, 0.6),
        inset 0 0 12px rgba(0, 150, 255, 0.25);
    border-color: rgb(0, 150, 255);
}

.viñetas__container__3:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 25px rgba(0, 150, 255, 0.6),
        inset 0 0 12px rgba(0, 150, 255, 0.25);
    border-color: rgb(0, 150, 255);
}

.viñetas__container__4:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 25px rgba(0, 150, 255, 0.6),
        inset 0 0 12px rgba(0, 150, 255, 0.25);
    border-color: rgb(0, 150, 255);
}

.viñetas__container__5:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 25px rgba(0, 150, 255, 0.6),
        inset 0 0 12px rgba(0, 150, 255, 0.25);
    border-color: rgb(0, 150, 255);
}

.container__imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    object-fit: cover;
}

.container__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido__nombre {
    color: rgb(255, 255, 255);
    font-family: "Turret Road", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.contenido__informacion {
    color: rgb(255, 255, 255);
    font-family: "Turret Road", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

/*footer*/

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    padding-bottom: 20px;
    margin-bottom: 60px;
    gap: 300px;


}


.link__izquierda {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    background: #1e293b;
    color: #f8fafc;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    padding: 5px;
}


.link__derecha {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    background: #1e293b;
    color: #f8fafc;
    border: 2px solid #e5e7eb;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
    padding: 5px;

}

.link__derecha:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 25px rgba(0, 150, 255, 0.6),
        inset 0 0 12px rgba(0, 150, 255, 0.25);
    border-color: rgb(0, 150, 255);
}

.link__izquierda:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 25px rgba(0, 150, 255, 0.6),
        inset 0 0 12px rgba(0, 150, 255, 0.25);
    border-color: rgb(0, 150, 255);
}